<!DOCTYPE html>
<html>
<head>
  <title>Base Application</title>
  <%#= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%#= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= stylesheet_link_tag "application", params[:controller], :media => "all" %>
  <%= javascript_include_tag "application", params[:controller] %>
  <%= include_gon %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="menu-option" id="menu-option-1"><%= link_to 'Menu Option 1', '#' %></li>
            <li role="presentation" class="menu-option" id="menu-option-2"><%= link_to 'Menu Option 2', '#' %></li>
          </ul>
        </nav>
        <h3 class="text-muted">
          <i class="glyphicon glyphicon-music"></i>
          Application
        </h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= yield %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <footer class="footer">
        <p>&copy; Ariel - 2015</p>
      </footer>
    </div>
  </div>
  <!--
  <div class="container">
  </div>-->

</body>
</html>